<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Its Legotastic</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: '/home' }) %>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/"></a>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>
              Theme
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/lego/sets?theme=technic">Technic</a></li>
              <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
              <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/lego/sets?theme=technic">Technic</a></li>
              <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
              <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <br />

  <div class="container mx-auto">


    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome to a whole new different world</h1>

          <p class="py-6" style="color: rgb(24, 44, 62);"></p>

      
          <a href="/lego/sets" class="btn btn-primary">See all sets.</a>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/thumbs/mocs/moc-165342.jpg/1000x800.jpg?1707110837.0786583" alt="Lego set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Expectonum charm with harry potter.</h2>
            <p>Step into the enchanting world of Harry Potter with this intricately detailed Lego set at Hogwarts.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/3638" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/thumbs/mocs/moc-112939.jpg/1000x800.jpg?1653736705.0297844" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Harry and Hermione in Dark Forest.</h2>
            <p>Immerse yourself in the epic journey in dark forest with Harry and Hermione in magical world of Hogwarts.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/3639" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/thumbs/mocs/moc-45950.jpg/1000x800.jpg?1664978735.1840658" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Hgwards Castle</h2>
            <p>Get your character with thier castle. Includes many accessory.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/3640" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

</html>